@font-face {
  font-family: "dick";
  src:url("jmh.otf")format("opentype");
}

@font-face {
  font-family: "boobs";
  src:url("decoder.ttf")format("truetype");
}

:root {
  --header-bg:#000000;
  --nav-bg:#405BB8;
  --article-bg:#000000;
}


body {
    background-image: url(azul.gif) ;
  font-size:20px;
    color: white;
    font-family:"boobs";
}

header{
  border:1px solid black;
  font-size: 100px;
  font-family:"MyFirstFont"; 
}
header nav {
  max-width:100%;
}
aside {
  width:200px;
    background-color: #6F89DE;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.flex {
  display:flex;
    max-width: 800px;
}
nav {
  max-height:25px;
  height:25px;
}
header {
  max-height:200px;
  height:200px;
  background-color:var(--header-bg);
    background-image: url(header.gif)
}
main {
  width:100%;
  margin-left:20px;
  margin-right:20px;
}
nav {
  margin-bottom:10px;
  background-color:var(--nav-bg);
}
header {
  margin-bottom:10px;
}
section {
  margin-bottom:10px;
}
article { 
  border:1px solid black;
  margin-bottom:15px;
  background-color:var(--article-bg);
}
.subtitle {
  border:1px solid black;
  background-color:var(--nav-bg);
    margin-bottom:10px;
    font-weight: bold;
}
.links {  /* this applies to your 'links' UL */
  list-style-type:none; 
  padding-left:0; 
}
.links li {  
  background-color:#6F89DE;
  border:1px solid var(--border-color); 
  margin-bottom:20px;
}
.links li a { 
  text-decoration:none;
    color: white;
}

.nav {
  margin-top:5px;
}
.nav li {
  display:inline-block;
  padding-left:50px;
  padding-right: 100px;
}
.nav li a { 
  text-decoration:none; 
  text-transform:uppercase; 
}

html, body {
  padding:0;
  margin:0;
}

footer{
    src: url(miku3.gif)
}

.container {
  overflow: hidden;
  white-space: nowrap;
}

